.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 1.5%;
    width: 75%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 0.5%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.active-content {
    /* padding: 0.5%; */
    display: flex !important;
    overflow: auto !important;
}

.content {
    padding: 0 18px;
    /* max-height: 0; */
    overflow: hidden;
    display: none;
    transition: max-height 0.2s ease-out;
    margin: auto;
    border: 3px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1DB954;
    color: white;
    padding: 8px 16px;
    margin: 0.5%;
    /* border: none; */
    border-radius: 10px;
    margin-bottom: 0.5%;
    cursor: pointer;
    /* width: 100%; */
    font-size: 20px;
}

.playlists ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.playlists ul li {
    list-style: none;
    flex: 0 0 25%;
}

.list-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    border-radius: 10%;
    margin: 0.5em;
    background-color: #1DB954;
}

.playlist-container img {
    /* width: 100%; */
    max-width: 8em;
    height: auto;
    border-radius: 10px;
}

.playlist-container p {
    margin: 0;
    padding: 0.5em;
    max-width: 7em;
    font-size: 16px;
    text-align: center;
    color: #FFF;
}

.playlist-container:hover {
    background-color: #1ED760;
}

.metadata {
    justify-content: center;
    align-items: center;
    width: max-content;
    /* padding: 3%; */
}

.metadata .col {
    display: flex;
    /* flex: 2 1 25%; */
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* padding: 3%; */
}

.col p,
.col h2,
.col h3 {
    margin: 2%;
    text-align: center;
    white-space: nowrap;
}

.playlistQuiz {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tracker {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-top: 3%;
}

.tracker>span {
    padding: 0%;
    margin: 0.1%;
    border-radius: 5px;
    flex-grow: 1;
    height: 1.5em;
    opacity: 60%;
    border-width: 2px;
}

.question-prompt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    min-width: 70%;
}

.question-prompt>div {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
}

.question-prompt img {
    width: 6em;
    height: auto;
    border-radius: 10px;
    opacity: 80%;
}

.question-prompt p {
    margin: 0.5%;
    padding: 2%;
    font-size: 3.5em;
    text-align: center;
}

/* questions tracker */
.cr {
    border-style: solid;
    background-color: #1ED760;
}

.icr {
    border-style: solid;
    background-color: #ee5151;
}

.cur {
    border-style: solid;
    background-color: #777777;
}

.fut {
    border-style: dashed;
    background-color: #e0e0e0;
}

.answers {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.answers>button {
    background-color: #777777;
    flex-basis: 45%;
    flex-grow: 1;
}

.play-btn {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 1em;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    opacity: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    /* play state */
    border-style: solid;
    border-width: 0.5em 0 0.5em 0.91em;

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 0.91em;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
}

.audio-cont {
    position: relative;
    display: inline-block;
}

.white-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.82em;
    height: 2em;
    opacity: 80%;
    border-radius: 0.4em;
    background-color: #FFF;
}